# _Restaurant Recommendation System_
## Prepare import

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import warnings
warnings.filterwarnings("ignore")

## Load Data
### GoogleReview
#### View Sample, Check Null Data For Review

In [6]:
ratings_data = pd.read_csv('GoogleReview_data_cleaned.csv')
ratings_data = ratings_data[['Author', 'Rating', 'Review', 'Restaurant', 'Location']]
print("Review data:", ratings_data.shape)
print("\nCheck NULL values in Reviews:\n-----------------------------")
print(ratings_data.isnull().sum())
print("-----------------------------")
ratings_data.head()

Review data: (222020, 5)

Check NULL values in Reviews:
-----------------------------
Author        0
Rating        0
Review        0
Restaurant    0
Location      0
dtype: int64
-----------------------------

,Author,Rating,Review,Restaurant,Location
0,Jia Pin Lee,4.0,Came here for the High Tea. Great service espe...,Cuisines Restaurant,Ipoh
1,Chui Yi Lum,2.0,"5 stars for the service, even though some of t...",Cuisines Restaurant,Ipoh
2,liezel wong,1.0,"Hi, thank you for your service. But! i feel so...",Cuisines Restaurant,Ipoh
3,Nazri Nor,1.0,I have the worse buffer dinner ever so far. Th...,Cuisines Restaurant,Ipoh
4,Fakru Imran's Channel,5.0,"That's are Known 5 Elmark "" 9H72 "" & KDK "" 3 K...",Cuisines Restaurant,Ipoh

In [7]:
df_data2 = ratings_data.copy()
df_data2.head()

,Author,Rating,Review,Restaurant,Location
0,Jia Pin Lee,4.0,Came here for the High Tea. Great service espe...,Cuisines Restaurant,Ipoh
1,Chui Yi Lum,2.0,"5 stars for the service, even though some of t...",Cuisines Restaurant,Ipoh
2,liezel wong,1.0,"Hi, thank you for your service. But! i feel so...",Cuisines Restaurant,Ipoh
3,Nazri Nor,1.0,I have the worse buffer dinner ever so far. Th...,Cuisines Restaurant,Ipoh
4,Fakru Imran's Channel,5.0,"That's are Known 5 Elmark "" 9H72 "" & KDK "" 3 K...",Cuisines Restaurant,Ipoh

# Collaborative Filtering Recommendation System

## ITEM-BASED COLLABORATIVE FILTERING

In [8]:
# Building User-Item Interactions Matrix
author_restaurant_matrix = df_data2.pivot_table(index = 'Author', columns = ['Restaurant'], values = 'Rating').fillna(0)
author_restaurant_matrix.head()

Restaurant,'D' Selera Kelate,16th St. Cafe,1919 Restaurant Ipoh,20 Chulia Lane Cafe,21 Bistro,218 Hainan Lor Mee,27@cove,28 Food Centre,3 :15 Auntie Hong's Cooking,33 Blue Room,...,寒舍 HANSHE @Perling,心安素食斋料食馆 Xin An Vegetarian Cafe,怡保古早味猪肠粉 Ipoh Traditional Style Chee Cheong Fun,我家餐館Our Kitchen Nyonya Restaurant,海皇粿条仔Restaurant Hi Wan,田園粥火锅 Farmland Porridge Steamboat,相聚火锅 The Gather BBQ Steamboat(新犀鸟阁 New Hornbill BBQ Steamboat）,越南小廚 V NAM KITCHEN,青山角 / Green Hill Corner,食得福美食中心Cedar Point Food Centre
Author,,,,,,,,,,,,,,,,,,,,,
# cikgusally,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#Ativ Mindworks,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#GJBlane RICE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#JL_King_Of_Music,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#MyNameIsMuna #MUNALICIOUS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Identifying Author Who Rated a Given Restaurant

In [47]:
author_ratings = author_restaurant_matrix['我家餐館Our Kitchen Nyonya Restaurant']
author_ratings.head(10)

Author
# cikgusally                  0.0
#Ativ Mindworks               0.0
#GJBlane RICE                 0.0
#JL_King_Of_Music             0.0
#MyNameIsMuna #MUNALICIOUS    0.0
#Ramen #Mee                   0.0
#SamuelLabo                   0.0
#SuPeR# (SuPerPauL)           0.0
#ryuki2517                    0.0
#바나나스프                        0.0
Name: 1919 Restaurant Ipoh, dtype: float64

In [44]:
author_ratings = author_restaurant_matrix['心安素食斋料食馆 Xin An Vegetarian Cafe']
author_ratings.head(10)

Author
# cikgusally                  0.0
#Ativ Mindworks               0.0
#GJBlane RICE                 0.0
#JL_King_Of_Music             0.0
#MyNameIsMuna #MUNALICIOUS    0.0
#Ramen #Mee                   0.0
#SamuelLabo                   0.0
#SuPeR# (SuPerPauL)           0.0
#ryuki2517                    0.0
#바나나스프                        0.0
Name: 心安素食斋料食馆 Xin An Vegetarian Cafe, dtype: float64

In [45]:
author_ratings = author_restaurant_matrix['28 Food Centre']
author_ratings.head(10)

Author
# cikgusally                  0.0
#Ativ Mindworks               0.0
#GJBlane RICE                 0.0
#JL_King_Of_Music             0.0
#MyNameIsMuna #MUNALICIOUS    0.0
#Ramen #Mee                   0.0
#SamuelLabo                   0.0
#SuPeR# (SuPerPauL)           0.0
#ryuki2517                    0.0
#바나나스프                        5.0
Name: 28 Food Centre, dtype: float64

### KNN Item-based

In [12]:
# from scipy.sparse import csr_matrix

# csr_matrix_rating = csr_matrix(author_restaurant_matrix)
# csr_matrix_rating

<125087x1322 sparse matrix of type '<class 'numpy.float64'>'
	with 214264 stored elements in Compressed Sparse Row format>

In [14]:
# from sklearn.neighbors import NearestNeighbors

# model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
# model_knn.fit(csr_matrix_rating)

NearestNeighbors(algorithm='brute', metric='cosine')

In [15]:
# restaurant_name = input("Please enter the restaurant name: ")

Please enter the restaurant name: 越南小廚 V NAM KITCHEN

In [21]:
# def recommend(restaurant_name):
#     distances, indices = model_knn.kneighbors(author_restaurant_matrix[author_restaurant_matrix.index == restaurant_name].values.reshape(1,-1), n_neighbors = 6)
#     for i in range(0, len(distances.flatten())):
#         if i == 0:
#             print("Recommendations 1:")
#             print('Recommendations for {0}:\n'.format(restaurant_name))
#         else:
#             print('{0}: {1}, with distance of {2}:'.format(i, author_restaurant_matrix.index[indices.flatten()[i]], distances.flatten()[i]))

In [22]:
# recommend(restaurant_name)

### Correlation Between A Selected Restaurant and All Other Restaurants

In [66]:
similar_restaurants = author_restaurant_matrix.corrwith(author_ratings)
print(similar_restaurants)

# Create a dataframe with similar restaurants as the index column and name another column as correlation
similar_restaurants = pd.DataFrame(similar_restaurants, columns = ['correlation'])
similar_restaurants.head(10)

Restaurant
'D' Selera Kelate                                                -0.000291
16th St. Cafe                                                    -0.001050
1919 Restaurant Ipoh                                              1.000000
20 Chulia Lane Cafe                                              -0.000721
21 Bistro                                                        -0.000092
                                                                    ...
田園粥火锅 Farmland Porridge Steamboat                                -0.000478
相聚火锅 The Gather BBQ Steamboat(新犀鸟阁 New Hornbill BBQ Steamboat）   -0.000516
越南小廚 V NAM KITCHEN                                                0.022485
青山角 / Green Hill Corner                                          -0.000786
食得福美食中心Cedar Point Food Centre                                    0.004993
Length: 1322, dtype: float64

                             correlation
Restaurant
'D' Selera Kelate              -0.000291
16th St. Cafe                  -0.001050
1919 Restaurant Ipoh            1.000000
20 Chulia Lane Cafe            -0.000721
21 Bistro                      -0.000092
218 Hainan Lor Mee             -0.000783
27@cove                        -0.000666
28 Food Centre                 -0.001043
3 :15 Auntie Hong's Cooking    -0.000359
33 Blue Room                   -0.001566

### Recommending The Most Similar Restaurants

In [67]:
similar_restaurants.sort_values(by = 'correlation', ascending = False).head(10)

                                              correlation
Restaurant
1919 Restaurant Ipoh                             1.000000
The Deck Gastrobar                               0.038099
STG Tea House Cafe                               0.036571
Restaurant Sun Yeong Wai (Medan Ipoh Branch)     0.034055
Padi House Greentown Ipoh                        0.033780
Yum Yum Restaurant Ipoh                          0.033415
Citrus Wine & Dine                               0.031838
STG Ipoh Oldtown                                 0.030419
A Jie Cafe                                       0.029676
Tandoor Grill                                    0.027766

### Recommending The Most Similar Popular Restaurants

Assuming that the more votes a restaurant has, the more popular it is, therefore, to find out whether they are strong or weak recommendations, the number of ratings have to be taken into consideration

In [68]:
similar_restaurants.head(10)

                             correlation
Restaurant
'D' Selera Kelate              -0.000291
16th St. Cafe                  -0.001050
1919 Restaurant Ipoh            1.000000
20 Chulia Lane Cafe            -0.000721
21 Bistro                      -0.000092
218 Hainan Lor Mee             -0.000783
27@cove                        -0.000666
28 Food Centre                 -0.001043
3 :15 Auntie Hong's Cooking    -0.000359
33 Blue Room                   -0.001566

In [69]:
df_rating = pd.DataFrame(df_data2.groupby('Restaurant')['Rating'].count())  
df_rating.head(10)

                             Rating
Restaurant
'D' Selera Kelate                11
16th St. Cafe                   134
1919 Restaurant Ipoh            142
20 Chulia Lane Cafe              62
21 Bistro                         1
218 Hainan Lor Mee               75
27@cove                          53
28 Food Centre                  136
3 :15 Auntie Hong's Cooking      18
33 Blue Room                    300

In [70]:
similar_restaurants = similar_restaurants.join(df_rating['Rating']).sort_values(by = 'correlation', ascending = False)
similar_restaurants

                                              correlation  Rating
Restaurant
1919 Restaurant Ipoh                             1.000000     142
The Deck Gastrobar                               0.038099      23
STG Tea House Cafe                               0.036571     384
Restaurant Sun Yeong Wai (Medan Ipoh Branch)     0.034055     140
Padi House Greentown Ipoh                        0.033780     322
...                                                   ...     ...
Knowhere Bangsar                                -0.002317     650
Canopy Lounge Rooftop Bar KL                    -0.002774     948
Miker Food                                      -0.002819     999
Restoran Kacang Pool Haji                       -0.002858     991
Antipodean Cafe                                 -0.002858     988

[1322 rows x 2 columns]

### Recommending 20 Most Similar Popular Restaurants

In [71]:
similar_restaurants_2 = similar_restaurants[similar_restaurants['Rating'] > 100].sort_values(by = 'correlation', ascending = False)
similar_restaurants_2.head(20)

                                              correlation  Rating
Restaurant
1919 Restaurant Ipoh                             1.000000     142
STG Tea House Cafe                               0.036571     384
Restaurant Sun Yeong Wai (Medan Ipoh Branch)     0.034055     140
Padi House Greentown Ipoh                        0.033780     322
Yum Yum Restaurant Ipoh                          0.033415     254
Citrus Wine & Dine                               0.031838     108
STG Ipoh Oldtown                                 0.030419     264
A Jie Cafe                                       0.029676     259
Tandoor Grill                                    0.027766     497
Durbar at FMS                                    0.026392     251
K Ten Claypot Chicken Rice                       0.024078     134
Little Elephant                                  0.023624     280
Restoran SYW (Flagship) 新揚威烤鴨（新街場旗艦店）            0.022784     178
Marianis@7                                       0.022652     118
越南小廚 V NAM KITCHEN                               0.022485     185
Weng Kee Seafood Restaurant（永記海鮮飯店）              0.022251     153
Healy Mac's Irish Bar                            0.020946     361
Euro House                                       0.020740     410
362 Heong Peah 362炭烧香饼                           0.020033     118
Sun Marpoh Restaurant                            0.019976     427

In [ ]:
# def recommend_item_based(restaurant_Name):
#     restaurant_Name = str(restaurant_Name)
    
#     if restaurant_Name in df_data2["Restaurant"].values:
#         rating_count = pd.DataFrame(df_data2["Restaurant"].value_counts())
#         rare_restaurants = rating_count[rating_count["Restaurant"] <= 100].index
#         common_restaurants = df_data2[~df_data2["Restaurant"].isin(rare_restaurants)]
        
#         if restaurant_Name in rare_restaurants:
#             most_common = pd.Series(common_restaurants["Restaurant"].unique()).sample(3).values
#             print("No Recommendations for this Restaurant ☹️ \n ")
#             print("YOU MAY TRY: \n ")
#             print("{}".format(most_common[0]), "\n")
#             print("{}".format(most_common[1]), "\n")
#             print("{}".format(most_common[2]), "\n")
#         else:
#             common_restaurants_pivot = common_restaurants.pivot_table(index = ["Author"], columns = ["Restaurant"], values = "Rating")
#             title = common_restaurants_pivot[restaurant_Name]
#             recommendation_df = pd.DataFrame(common_restaurants_pivot.corrwith(title).sort_values(ascending = False)).reset_index(drop = False)
            
#             if common_restaurants_pivot in [name for name in recommendation_df["Restaurant"]]:
#                 recommendation_df = recommendation_df.drop(recommendation_df[recommendation_df["Restaurant"] == restaurant_Name].index[0])
        
#             less_rating = []
            
#             for i in recommendation_df["Restaurant"]:
#                 if df.data2[df.data2["Restaurant"] == i]["Rating"].mean() < 5:
#                     less_rating.append(i)
                    
#             if recommendation_df.shape[0] - len(less_rating) > 5:
#                 recommendation_df = recommendation_df[~recommendation_df["Restaurant"].isin(less_rating)]
                
#             recommendation_df = recommendation_df[0:5]
#             recommendation_df.columns=["Restaurant","Correlation"]
            
#             recommendation_df
#     else:
#         print("❌ COULD NOT FIND ❌")

## User-based Collaborative Filtering

In [74]:
author_restaurant_matrix = df_data2.pivot_table(index = 'Author', columns = ['Restaurant'], values = 'Rating').fillna(0)
author_restaurant_matrix.head()

Restaurant,'D' Selera Kelate,16th St. Cafe,1919 Restaurant Ipoh,20 Chulia Lane Cafe,21 Bistro,218 Hainan Lor Mee,27@cove,28 Food Centre,3 :15 Auntie Hong's Cooking,33 Blue Room,...,寒舍 HANSHE @Perling,心安素食斋料食馆 Xin An Vegetarian Cafe,怡保古早味猪肠粉 Ipoh Traditional Style Chee Cheong Fun,我家餐館Our Kitchen Nyonya Restaurant,海皇粿条仔Restaurant Hi Wan,田園粥火锅 Farmland Porridge Steamboat,相聚火锅 The Gather BBQ Steamboat(新犀鸟阁 New Hornbill BBQ Steamboat）,越南小廚 V NAM KITCHEN,青山角 / Green Hill Corner,食得福美食中心Cedar Point Food Centre
Author,,,,,,,,,,,,,,,,,,,,,
# cikgusally,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#Ativ Mindworks,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#GJBlane RICE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#JL_King_Of_Music,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#MyNameIsMuna #MUNALICIOUS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
restaurant_author_matrix = author_restaurant_matrix.transpose()
restaurant_author_matrix.head(10)

Author,# cikgusally,#Ativ Mindworks,#GJBlane RICE,#JL_King_Of_Music,#MyNameIsMuna #MUNALICIOUS,#Ramen #Mee,#SamuelLabo,#SuPeR# (SuPerPauL),#ryuki2517,#바나나스프,...,홍성훈,홍우진,화성인,황명설,황무환,효니의 관심사Honey’s interest,흰호랑이,ﹰﹰChoon Woo,Ｎａｋａ Ｍｕｒａ,ｊ ｍ
Restaurant,,,,,,,,,,,,,,,,,,,,,
'D' Selera Kelate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16th St. Cafe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1919 Restaurant Ipoh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20 Chulia Lane Cafe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21 Bistro,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
218 Hainan Lor Mee,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27@cove,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28 Food Centre,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3 :15 Auntie Hong's Cooking,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33 Blue Room,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Finding Correlations between A Author and All Other Author

In [93]:
restaurant_ratings = restaurant_author_matrix['#GJBlane RICE']
restaurant_ratings.head(10)

Restaurant
'D' Selera Kelate              0.0
16th St. Cafe                  0.0
1919 Restaurant Ipoh           0.0
20 Chulia Lane Cafe            0.0
21 Bistro                      0.0
218 Hainan Lor Mee             0.0
27@cove                        0.0
28 Food Centre                 0.0
3 :15 Auntie Hong's Cooking    0.0
33 Blue Room                   0.0
Name: #GJBlane RICE, dtype: float64

In [ ]:
# This is to find correlation between author based on the ratings of restaurants
similar_authors = restaurant_author_matrix.corrwith(restaurant_ratings)

# Create a dataframe with similar movies as the index column and correlation as another column
similar_authors = pd.DataFrame(similar_authors, columns = ['correlation'])
similar_authors.head(10)